.header {
    color: purple;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 40px;
    }
}

@media only screen and (min-width: 600px) {
    .header {
        font-size: 55px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        font-size: 70px;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        font-size: 82px;
    }
}