.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.registration {
    color: black;
}

@media only screen and (max-width: 600px) {
    .loginTitle, .emailLabel, .passwordLabel {
        font-size: 30px;
    }
    .emailInput, .passwordInput {
        font-size: 25px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .loginSubmit {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .loginTitle, .emailLabel, .passwordLabel {
        font-size: 40px;
    }
    .emailInput, .passwordInput {
        font-size: 35px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .loginSubmit {
        font-size: 30px;
    }
}