.registrationContainer {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

@media only screen and (max-width: 600px) {
    .registrationTitle, .usernameLabel, .registrationEmailLabel, .registrationPasswordLabel, .re_passwordLabel, .qualification {
        font-size: 30px;
    }
    .usernameInput, .registrationEmailInput, .registrationPasswordInput, .re_passwordInput{
        font-size: 25px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .registrationFormSubmit {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .registrationTitle, .usernameLabel, .registrationEmailLabel, .registrationPasswordLabel, .re_passwordLabel, .qualification {
        font-size: 35px;
    }
    .usernameInput, .registrationEmailInput, .registrationPasswordInput, .re_passwordInput{
        font-size: 33px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .registrationFormSubmit {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .registrationTitle, .usernameLabel, .registrationEmailLabel, .registrationPasswordLabel, .re_passwordLabel, .qualification {
        font-size: 40px;
    }
    .usernameInput, .registrationEmailInput, .registrationPasswordInput, .re_passwordInput{
        font-size: 35px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .registrationFormSubmit {
        font-size: 30px;
    }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}